<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container">
        <h1 class="text-center mt-5">Contacts</h1>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
            <th scope="col">operations</th>
          </tr>
        </thead>
        <tbody>
          <% data.map((info)=>{ %>
          <tr>
            <td><%= info.email %></td>
            <td><%= info.message %></td>
            <td>
                <form action="<%'/contact/delete/' + info.id  %>" method="DELETE">
                    <button class="btn btn-danger" type="submit">Delete</button></td>
                </form>
            <td><button class="btn btn-warning"><a href="">Update</a></button></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
