<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <title>Contact us</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs")  %> 
    <div class="pt-5">
      <div class="offset-md-3">
        <h1 class="display-5">Contact us</h1>
      </div>
      <form
        method="post"
        class="mx-auto bg-light"
        style="width: 50%; padding-top: 40px"
        action="/contact"
      >
        <!-- <label for="email"></label> -->
        <input
          type="email"
          placeholder="enter your email"
          style="border-top: none; border-right: none; border-left: none"
          class="form-control"
          name="email"
        /><br />
        <input
          type="text"
          placeholder="send us a message"
          style="border-top: none; border-right: none; border-left: none"
          class="form-control"
          name="message"
        /><br />
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
