<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <title><%= title %> </title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <div class="container">
      <h1 class="text-center mt-4">Products</h1>
      <div class="row mt-5" style="padding-left: 10%;">
        <div class="col-md-3 mr-5">
          <div class="card" style="width: 18rem">
            <img src="images/lifestyle.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Iphone Xr Black</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                temporibus ea porro inventore vero, repellendus alias possimus
                fugit aspernatur totam.
              </p>
              <a href="#" class="btn btn-outline-dark">read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mr-5">
          <div class="card" style="width: 18rem">
            <img src="images/lifestyle.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Iphone Xr Black</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                temporibus ea porro inventore vero, repellendus alias possimus
                fugit aspernatur totam.
              </p>
              <a href="#" class="btn btn-outline-dark">read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mr-5">
          <div class="card" style="width: 18rem">
            <img src="images/lifestyle.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Iphone Xr Black</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                temporibus ea porro inventore vero, repellendus alias possimus
                fugit aspernatur totam.
              </p>
              <a href="#" class="btn btn-outline-dark">read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
