<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <title><%= title  %> </title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <div class="container">
      <h1 class="text-center mt-4">Single Product Page</h1>
      <div class="row mt-5" style="padding-left: 10%">
        <div class="col-md-6">
          <div class="card" style="width: 18rem">
            <img src="../images/lifestyle.jpg" class="card-img-top" alt="..." />
          </div>
        </div>
        <div class="col-md-6">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet
            explicabo rem adipisci, quasi repellat nostrum maxime minima
            cupiditate fugiat quaerat, in fugit esse recusandae qui saepe quas
            fuga corrupti accusamus reiciendis aut nihil voluptate suscipit,
            tenetur ut? Perferendis aut eos ipsa eaque, similique quia voluptas,
            animi laboriosam et totam voluptate.
          </p>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-warning">Edit</button>
        </div>
      </div>
    </div>
  </body>
</html>
