<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Users</h1>
    </div>
    <div id="post"></div>
  </body>

  <script>
    fetch("https://jsonplaceholder.typicode.com/users/")
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        // console.log(data);
        for (let index = 0; index < data.length; index++) {
          const element = data[index];
          console.log(element);
          document.querySelector("#post").innerHTML += `
            <h1>${element.id}</h1>
            <p>${element.name}</p>
            <p>${element.username}</p>
            <p>${element.email}</p>
            <p>Address: ${element.address.street}, ${element.address.city}</p>
            <p>Phone: ${element.phone}</p>
            <p>Website: ${element.website}</p>
            <p>Company: ${element.name}</p>
            <hr>
            <br>
          `;
        }
      })
      .catch((err) => {
        console.log(err);
      });
  </script>
</html>
